#btn1 {

}
#def1 {
  display: none;
}
#def2 {
  display: none;
}
#click1 {
  cursor: pointer;
}
#click1:hover {
  text-decoration: underline;
}
#click2 {
  cursor: pointer;
}
#click2:hover {
  text-decoration: underline;
}
#click3 {
  cursor: pointer;
}
#click3:hover {
  text-decoration: underline;
}