
#def1 {
  display: none;
}
#def2 {
  display: none;
}
#def3 {
  display: none;
}
#def4 {
  display: none;
}
#def5 {
  display: none;
}
#def6 {
  display: none;
}
#def7 {
  display: none;
}
#def8 {
  display: none;
}
#def9 {
  display: none;
}
#def10 {
  display: none;
}
#def11 {
  display: none;
}
#def12 {
  display: none;
}
#def13 {
  display: none;
}
#def14 {
  display: none;
}
#def15 {
  display: none;
}
#def16 {
  display: none;
}
#def17 {
  display: none;
}
#def18 {
  display: none;
}
#def19 {
  display: none;
}

#click1 {
  cursor: pointer;
}
#click1:hover {
  text-decoration: underline;
}

#click2 {
  cursor: pointer;
}
#click2:hover {
  text-decoration: underline;
}

#click3 {
  cursor: pointer;
}
#click3:hover {
  text-decoration: underline;
}

#click4 {
  cursor: pointer;
}
#click4:hover {
  text-decoration: underline;
}

#click5 {
  cursor: pointer;
}
#click5:hover {
  text-decoration: underline;
}

#click6 {
  cursor: pointer;
}
#click6:hover {
  text-decoration: underline;
}

#click7 {
  cursor: pointer;
}
#click7:hover {
  text-decoration: underline;
}

#click8 {
  cursor: pointer;
}
#click8:hover {
  text-decoration: underline;
}

#click9 {
  cursor: pointer;
}
#click9:hover {
  text-decoration: underline;
}

#click10 {
  cursor: pointer;
}
#click10:hover {
  text-decoration: underline;
}

#click11 {
  cursor: pointer;
}
#click11:hover {
  text-decoration: underline;
}

#click12 {
  cursor: pointer;
}
#click12:hover {
  text-decoration: underline;
}

#click13 {
  cursor: pointer;
}
#click13:hover {
  text-decoration: underline;
}

#click14 {
  cursor: pointer;
}
#click14:hover {
  text-decoration: underline;
}

#click15 {
  cursor: pointer;
}
#click15:hover {
  text-decoration: underline;
}

#click16 {
  cursor: pointer;
}
#click16:hover {
  text-decoration: underline;
}

#click17 {
  cursor: pointer;
}
#click17:hover {
  text-decoration: underline;
}

#click18 {
  cursor: pointer;
}
#click18:hover {
  text-decoration: underline;
}

#click19 {
  cursor: pointer;
}
#click19:hover {
  text-decoration: underline;
}
